html,
body,
#__next {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  outline: 1px solid transparent;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
a,
small {
  @apply text-secondary-default;
}

section {
  margin-bottom: 2rem;
}

article {
  margin-bottom: 1.2rem;
}

h1,
h2 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 1.8rem;
  font-weight: 600;
}

h2 {
  font-size: 1.4rem;
  font-weight: 500;
}

p {
  font-weight: 300;
  margin-bottom: 0.7rem;
}

strong {
  font-weight: 600;
}

.bg--transparent {
  @apply bg-transparent;
}

.btn_secondary-default {
  color: white;
  @apply border-2;
  @apply bg-secondary-default;
  @apply border-secondary-default;
  &:hover {
    @apply bg-transparent;
    @apply text-secondary-default;
  }
}

.pagination {
  li {
    display: table-cell;
    border-spacing: 1px 0;
    cursor: pointer;

    a {
      display: table-cell;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
    }
  }
}

.swal-modal {
  .swal-title,
  .swal-text {
    @apply text-secondary-light;
  }
  .swal-text {
    text-align: center;
    line-height: 1.5rem;
  }
  .swal-footer {
    .swal-button-container {
      width: 100%;
      .swal-button {
        width: 100%;
        @apply bg-secondary-default;
      }
    }
  }
}
